.app {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.paginate {
  display: flex;
  flex-direction: column;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search > input {
  display: flex;
  width: 400px;
  border: none;
  background-color: #e3f2fd;
  border-radius: 20px;
  padding: 1em;
  margin: 1rem;
}
.search > button {
  text-decoration-style: none;
}
.tables {
  display: flex;
  background-color: #ede7f6;
  padding: 1em;
  margin: 1rem;
  border-radius: 10px;
}
.favo {
  border: none;
  background-color: #7f64c4;
  color: white;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  text-decoration-style: none;
}

.favo:hover {
  background-color: #2498f3;
  transform: scale(1.01);
}
